<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Ahorcado</servlet-name>
        <servlet-class>juego.Ahorcado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JuegoTipos</servlet-name>
        <servlet-class>juego.JuegoTipos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTipos</servlet-name>
        <servlet-class>juego.ListarTipos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Palabra</servlet-name>
        <servlet-class>juego.Palabra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarPalabra</servlet-name>
        <servlet-class>juego.ListarPalabra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarPalabras</servlet-name>
        <servlet-class>juego.AgregarPalabras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarPalabra</servlet-name>
        <servlet-class>juego.BuscarPalabra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Operacion</servlet-name>
        <servlet-class>juego.Operacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ahorcado</servlet-name>
        <url-pattern>/Ahorcado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JuegoTipos</servlet-name>
        <url-pattern>/JuegoTipos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTipos</servlet-name>
        <url-pattern>/ListarTipos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarPalabra</servlet-name>
        <url-pattern>/ListarPalabra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarPalabras</servlet-name>
        <url-pattern>/AgregarPalabras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarPalabra</servlet-name>
        <url-pattern>/BuscarPalabra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Operacion</servlet-name>
        <url-pattern>/Operacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index_nuevo.jsp</welcome-file>
    </welcome-file-list>
</web-app>
